@font-face {
  font-family: "poppins-400";
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "roboto-400";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

.container__header {
  padding: 20px 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-text {
    margin-left: 370px;
    margin-right: 40px;
  }
  a {
    margin-right: 28px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #444444;
    text-decoration: none;
    transition: all 0.3s linear;
    &:hover {
      color: black;
    }
  }
  .button-2 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .btn-1 {
    padding: 10px 18px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #575445;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      background-color: black;
    }
  }
  .btn-2 {
    padding: 10px 18px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #575445;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      background-color: black;
    }
  }
}

.container__backround-ph {
  background-image: url("../images/bkg-ph.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 640px;
  margin-bottom: 100px;
  .bkg-text {
    padding-top: 218px;
    margin-left: 126px;
  }
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    width: 416px;
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
  }
  .p-2 {
    width: 495px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #caccd1;
  }
}

.top-left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  margin-bottom: 199px;
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
  }
  .p-2 {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 384px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      color: black;
    }
  }
}

.promise-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
    margin-bottom: 8px;
  }
  .p-2 {
    width: 538px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin-bottom: 71px;
  }
}

.cards-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-bottom: 258px;
  .card-1 {
    width: 287px;
    img {
      text-align: center;
      margin-left: 110px;
    }
    .p-1 {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 50px;
      font-family: "roboto-400";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #575445;
    }
    .p-2 {
      width: 287px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #575445;
    }
  }
}

.famaly-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
    margin-bottom: 8px;
  }
  .p-2 {
    width: 538px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin-bottom: 21px;
  }
}

.middle-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .middle-card-1 {
    background-image: url("../images/m-ph-1.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .middle-card-2 {
    background-image: url("../images/m-ph-2.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .middle-card-3 {
    background-image: url("../images/m-ph-3.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .middle-card-4 {
    background-image: url("../images/m-ph-4.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .middle-card-5 {
    background-image: url("../images/m-ph-5.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .middle-card-6 {
    background-image: url("../images/m-ph-6.jpg");
    width: 379px;
    height: 473px;
    h1 {
      padding-top: 39px;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #575445;
    }
    p {
      padding-top: 9px;
      padding-bottom: 20px;
      margin: auto 63px;
      width: 252px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #575445;
    }
    button {
      margin: auto 112px;
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}

.middle-card-btn {
  margin-top: 21px;
  margin: auto 672px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 100px;
}

.sea {
  padding-top: 512px;
  padding-left: 785px;
  margin-top: 142px;
  background-image: url("../images/sea-ph.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  .text-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 615px;
    height: 48px;
    background-color: #292c32;
    border-radius: 16px;
    .text-1 {
      display: flex;
      gap: 10px;
      cursor: pointer;
      p {
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        color: #ffffff;
      }
    }
  }
}

.bottom-sea {
  background-image: url("../images/bkg-1.jpg");
  width: 100%;
  height: 339px;
  margin-bottom: 100px;
  .p-1 {
    padding-top: 99px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fafafc;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #e6b939;
  }
  .p-2 {
    margin: 0 auto;
    width: 538px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fafafc;
  }
  button {
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px 18px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #575445;
    background: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      color: white;
      background-color: gray;
    }
  }
}

.guids-text {
  margin-left: 176px;
  margin-bottom: 21px;
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin-bottom: 7px;
  }
  .p-2 {
    width: 538px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
  }
}

.left-right-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 200px;
  .p-1 {
    margin-top: 18px;
    width: 465px;
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575445;
  }
  .ph-text {
    margin-top: 12px;
    display: flex;
    gap: 12px;
  }
  .jenna {
    .p-2 {
      font-family: "roboto-400";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: #575445;
    }
    .p-3 {
      font-family: "poppins-400";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: #e6b939;
    }
  }
}

.book-left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
  .p-1 {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
  }
  h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
  }
  .p-2 {
    margin-top: 7px;
    font-family: "poppins-400";
    width: 384px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    margin-bottom: 20px;
  }
  button {
    font-family: "poppins-400";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.footer {
  background-color: #575445;
  img {
    padding-top: 100px;
    padding-bottom: 75px;
    margin-left: 660px;
  }
  .footer-left-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-bottom: 120px;
    .footer-left {
      display: flex;
      gap: 100px;
      .p-1 {
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #e6b939;
        cursor: pointer;
        margin-bottom: 9px;
      }
      .p-2 {
        margin-bottom: 9px;
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .footer-right {
      .p-1 {
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #e6b939;
      }
      .p-2 {
        width: 438px;
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #fafafc;
        margin-bottom: 10px;
      }
      input {
        padding: 17px 399px 18px 21px;
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #575445;
        outline: none;
        background: #f9fafb;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
      }
      button {
        margin-left: -80px;
        padding: 10px 12px;
        font-family: "poppins-400";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        background: #575445;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover{
            background-color: grey;
            color: white;
        }
      }
    }
  }
}
