@font-face {
  font-family: "poppins-400";
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "roboto-400";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

.container__header {
  padding: 20px 114px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__header .header-text {
  margin-left: 370px;
  margin-right: 40px;
}
.container__header a {
  margin-right: 28px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #444444;
  text-decoration: none;
  transition: all 0.3s linear;
}
.container__header a:hover {
  color: black;
}
.container__header .button-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__header .btn-1 {
  padding: 10px 18px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #575445;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.container__header .btn-1:hover {
  background-color: black;
}
.container__header .btn-2 {
  padding: 10px 18px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #575445;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.container__header .btn-2:hover {
  background-color: black;
}

.container__backround-ph {
  background-image: url("../images/bkg-ph.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 640px;
  margin-bottom: 100px;
}
.container__backround-ph .bkg-text {
  padding-top: 218px;
  margin-left: 126px;
}
.container__backround-ph .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.container__backround-ph h1 {
  width: 416px;
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.container__backround-ph .p-2 {
  width: 495px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #caccd1;
}

.top-left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  margin-bottom: 199px;
}
.top-left-right .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.top-left-right h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #575445;
}
.top-left-right .p-2 {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 384px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
}
.top-left-right button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.top-left-right button:hover {
  color: black;
}

.promise-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.promise-texts .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.promise-texts h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #575445;
  margin-bottom: 8px;
}
.promise-texts .p-2 {
  width: 538px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #575445;
  margin-bottom: 71px;
}

.cards-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-bottom: 258px;
}
.cards-1 .card-1 {
  width: 287px;
}
.cards-1 .card-1 img {
  text-align: center;
  margin-left: 110px;
}
.cards-1 .card-1 .p-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #575445;
}
.cards-1 .card-1 .p-2 {
  width: 287px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #575445;
}

.famaly-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.famaly-texts .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.famaly-texts h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #575445;
  margin-bottom: 8px;
}
.famaly-texts .p-2 {
  width: 538px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #575445;
  margin-bottom: 21px;
}

.middle-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.middle-cards .middle-card-1 {
  background-image: url("../images/m-ph-1.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-1 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-1 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-1 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-cards .middle-card-2 {
  background-image: url("../images/m-ph-2.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-2 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-2 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-2 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-cards .middle-card-3 {
  background-image: url("../images/m-ph-3.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-3 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-3 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-3 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-cards .middle-card-4 {
  background-image: url("../images/m-ph-4.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-4 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-4 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-4 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-cards .middle-card-5 {
  background-image: url("../images/m-ph-5.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-5 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-5 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-5 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-cards .middle-card-6 {
  background-image: url("../images/m-ph-6.jpg");
  width: 379px;
  height: 473px;
}
.middle-cards .middle-card-6 h1 {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-6 p {
  padding-top: 9px;
  padding-bottom: 20px;
  margin: auto 63px;
  width: 252px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}
.middle-cards .middle-card-6 button {
  margin: auto 112px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}

.middle-card-btn {
  margin-top: 21px;
  margin: auto 672px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 100px;
}

.sea {
  padding-top: 512px;
  padding-left: 785px;
  margin-top: 142px;
  background-image: url("../images/sea-ph.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}
.sea .text-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 615px;
  height: 48px;
  background-color: #292c32;
  border-radius: 16px;
}
.sea .text-icons .text-1 {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.sea .text-icons .text-1 p {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
}

.bottom-sea {
  background-image: url("../images/bkg-1.jpg");
  width: 100%;
  height: 339px;
  margin-bottom: 100px;
}
.bottom-sea .p-1 {
  padding-top: 99px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafc;
}
.bottom-sea h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #e6b939;
}
.bottom-sea .p-2 {
  margin: 0 auto;
  width: 538px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fafafc;
}
.bottom-sea button {
  margin-left: 700px;
  margin-top: 20px;
  padding: 10px 18px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #575445;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.bottom-sea button:hover {
  color: white;
  background-color: gray;
}

.guids-text {
  margin-left: 176px;
  margin-bottom: 21px;
}
.guids-text .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.guids-text h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #575445;
  margin-bottom: 7px;
}
.guids-text .p-2 {
  width: 538px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
}

.left-right-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 200px;
}
.left-right-1 .p-1 {
  margin-top: 18px;
  width: 465px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #575445;
}
.left-right-1 .ph-text {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}
.left-right-1 .jenna .p-2 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #575445;
}
.left-right-1 .jenna .p-3 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #e6b939;
}

.book-left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}
.book-left-right .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.book-left-right h1 {
  font-family: "roboto-400";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #575445;
}
.book-left-right .p-2 {
  margin-top: 7px;
  font-family: "poppins-400";
  width: 384px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
  margin-bottom: 20px;
}
.book-left-right button {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  border: none;
  background: none;
  cursor: pointer;
}

.footer {
  background-color: #575445;
}
.footer img {
  padding-top: 100px;
  padding-bottom: 75px;
  margin-left: 660px;
}
.footer .footer-left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding-bottom: 120px;
}
.footer .footer-left-right .footer-left {
  display: flex;
  gap: 100px;
}
.footer .footer-left-right .footer-left .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
  cursor: pointer;
  margin-bottom: 9px;
}
.footer .footer-left-right .footer-left .p-2 {
  margin-bottom: 9px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
.footer .footer-left-right .footer-right .p-1 {
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}
.footer .footer-left-right .footer-right .p-2 {
  width: 438px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fafafc;
  margin-bottom: 10px;
}
.footer .footer-left-right .footer-right input {
  padding: 17px 399px 18px 21px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #575445;
  outline: none;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.footer .footer-left-right .footer-right button {
  margin-left: -80px;
  padding: 10px 12px;
  font-family: "poppins-400";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: #575445;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.footer .footer-left-right .footer-right button:hover {
  background-color: grey;
  color: white;
}

@media (max-width: 447px) {
  .container__header {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .container__header .header-text {
    margin-left: 370px;
    margin-right: 40px;
  }
  .container__header a {
    display: none;
  }
  .container__header .button-2 {
    display: none;
  }
  .container__header .btn-1 {
    display: none;
  }
  .container__header .btn-2 {
    display: none;
  }
  .container__backround-ph {
    background-image: url("../images/bkg-ph.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 640px;
    margin-bottom: 100px;
  }
  .container__backround-ph .bkg-text {
    padding-top: 218px;
    margin-left: 26px;
  }
  .container__backround-ph .p-1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .container__backround-ph h1 {
    width: 416px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
  }
  .container__backround-ph .p-2 {
    width: 295px;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
  }
  .top-left-right {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    margin-bottom: 109px;
  }
  .top-left-right img {
    width: 350px;
    height: 350px;
  }
  .top-left-right .p-1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .top-left-right h1 {
    font-family: "roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
  }
  .top-left-right .p-2 {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 384px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .top-left-right button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .top-left-right button:hover {
    color: black;
  }
  .promise-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .promise-texts .p-1 {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
  }
  .promise-texts h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .promise-texts .p-2 {
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin-bottom: 71px;
  }
  .cards-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 150px;
  }
  .cards-1 .card-1 {
    width: 287px;
  }
  .cards-1 .card-1 img {
    text-align: center;
    margin-left: 110px;
  }
  .cards-1 .card-1 .p-1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .cards-1 .card-1 .p-2 {
    width: 287px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .famaly-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .famaly-texts .p-1 {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  .famaly-texts h1 {
    font-size: 26px;
    line-height: 43px;
    margin-bottom: 8px;
  }
  .famaly-texts .p-2 {
    width: 368px;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 21px;
  }
  .middle-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .middle-cards .middle-card-1 {
    background-image: url("../images/m-ph-1.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-1 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-1 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-1 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .middle-cards .middle-card-2 {
    background-image: url("../images/m-ph-2.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-2 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-2 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-2 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .middle-cards .middle-card-3 {
    background-image: url("../images/m-ph-3.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-3 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-3 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-3 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .middle-cards .middle-card-4 {
    background-image: url("../images/m-ph-4.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-4 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-4 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-4 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .middle-cards .middle-card-5 {
    background-image: url("../images/m-ph-5.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-5 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-5 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-5 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .middle-cards .middle-card-6 {
    background-image: url("../images/m-ph-6.jpg");
    width: 279px;
    height: 373px;
  }
  .middle-cards .middle-card-6 h1 {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .middle-cards .middle-card-6 p {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: auto 16px;
    width: 252px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-cards .middle-card-6 button {
    margin: auto 90px;
    font-size: 12px;
    line-height: 17px;
  }
  .sea {
    padding-top: 212px;
    padding-left: 285px;
    margin-top: 142px;
    background-image: url("../images/sea-ph.jpg");
    width: 100%;
    height: 100px;
  }
  .sea .text-icons {
    padding: 10px;
    margin-top: -70px;
    margin-left: -260px;
    width: 350px;
    height: 48px;
  }
  .sea .text-icons .text-1 {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .sea .text-icons .text-1 p {
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
  }
  .bottom-sea {
    background-image: url("../images/bkg-1.jpg");
    width: 100%;
    height: 339px;
    margin-bottom: 100px;
  }
  .bottom-sea .p-1 {
    padding-top: 49px;
    font-size: 12px;
    line-height: 20px;
  }
  .bottom-sea h1 {
    font-size: 26px;
    line-height: 43px;
  }
  .bottom-sea .p-2 {
    margin: 0 auto;
    width: 338px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
  }
  .bottom-sea button {
    margin-left: 153px;
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 22px;
  }
  .guids-text {
    margin-left: 25px;
    margin-bottom: 21px;
  }
  .guids-text .p-1 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .guids-text h1 {
    font-weight: 400;
    font-size: 26px;
    line-height: 43px;
    margin-bottom: 4px;
  }
  .guids-text .p-2 {
    width: 338px;
    font-size: 12px;
    line-height: 18px;
  }
  .left-right-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 30px;
  }
  .left-right-1 img {
    width: 400px;
    height: 235px;
  }
  .left-right-1 .little-img {
    width: 50px;
    height: 50px;
  }
  .left-right-1 .p-1 {
    margin-left: 25px;
    margin-top: 10px;
    width: 365px;
    font-size: 12px;
    line-height: 24px;
  }
  .left-right-1 .ph-text {
    margin-left: 25px;
    margin-top: 12px;
    display: flex;
    gap: 8px;
  }
  .left-right-1 .jenna .p-2 {
    font-size: 12px;
    line-height: 18px;
  }
  .left-right-1 .jenna .p-3 {
    font-size: 9px;
    line-height: 15px;
  }
  .book-left-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
  }
  .book-left-right img {
    width: 300px;
    height: 300px;
  }
  .book-left-right .p-1 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .book-left-right h1 {
    font-size: 26px;
    line-height: 43px;
  }
  .book-left-right .p-2 {
    margin-top: 4px;
    width: 384px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .book-left-right button {
    font-size: 10px;
    line-height: 21px;
  }
  .footer {
    background-color: #575445;
  }
  .footer img {
    padding-top: 100px;
    padding-bottom: 75px;
    margin-left: 660px;
  }
  .footer .footer-left-right {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 120px;
  }
  .footer .footer-left-right .footer-left {
    display: flex;
    gap: 30px;
  }
  .footer .footer-left-right .footer-left .p-1 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 9px;
  }
  .footer .footer-left-right .footer-left .p-2 {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 20px;
  }
  .footer .footer-left-right .footer-right .p-1 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .footer .footer-left-right .footer-right .p-2 {
    width: 338px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer .footer-left-right .footer-right input {
    padding: 10px 199px 10px 11px;
    font-size: 12px;
    line-height: 20px;
  }
  .footer .footer-left-right .footer-right button {
    margin-left: -70px;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */